body{
font-family: arial;
 color: dimgray;
max-width: 600px; 
margin: 0 auto; 
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
  background: #ffc578; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffc578 0%, #fb9d23 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffc578 0%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffc578 0%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

nav a {
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    font-size: 10pt;
    color: brown;
    text-decoration: none;
    display: inline-block;
    flex: 0 0 auto;
    cursor: pointer; 
}

header {
  background-color: white; 
    padding: 20px;
    margin-top: 20px;
box-shadow: 5px 5px 4px 0px rgba(100, 100, 100, 0.5);
}

header div{
  display: flex;
  flex-direction: row;
}

header div span {
flex: 1 1 auto;
}

header p {
text-align: center; 
}
}


h1,h2,h3{
  font-size: 20pt;
  text-align: center;
}

h1{
font-size: 20pt;
text-align: center; 
color: #7d0807;
}

h2{
font-size: 16pt;
color: #7d0807;
}

h3{
  margin: 50px 0 20px 0; 
  font-size: 12pt;
  background-color: #7d0807;
  padding: 8px;
  border-radius: 10px;
  color: #dead07;
}

section{
background: white;
box-shadow: 5px 5px 4px 0px rgba(100, 100, 100, 0.5);
padding: 20px;
  margin: 40px 0;
}

a{
  cursor: pointer; 
}

p{
 line-height: 1.5;
}


li {
  line-height: 1.5;
  margin: 10px 0;
}

ul.contact{
  
}


.pic_and_text {
  display: flex;
  flex-direction: row;
}

.pic_and_text p {
 margin-left: 20px; 
}
