body{
font-family: arial;
}

h1,h2,h3{
    color: brown;
}

h1{
    font-size: 20pt;
}

h2{
    font-size: 18pt;
}

h3{
    font-size: 14pt;
}

p{

}

img{
  max-width: 1000px;
  min-width: 400px;
}

ul.contact{
  
}
